@import url("./_const.css");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input {
    background-color: transparent;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-start {
    justify-content: flex-start !important;
}

.align-start {
    align-items: flex-start !important;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
}

.default-btn {
    text-decoration: none;
    font-weight: 400;
    font-family: rubik;
    font-size: 1.2rem;
    margin: 5px;
    color: var(--white);
    background-color: var(--main-color);
    min-height: fit-content;
}

.default-btn.hide {
    transform: scale(0);
    padding: 0;
}

.default-btn:not(disabled):hover {
    background-color: var(--white);
    box-shadow: 0 0 12px var(--secondary-color);
    color: var(--secondary-color);
}

.default-btn:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-red)
}

.rounded {
    border-radius: 20px;
}

.screen-fill {
    width: 100%;
    height: 100vh;
}

.data-check {
    cursor: pointer;
}

.content-page {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    min-height: 100%;
}

.data-form .form-title {
    font-family: lato;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 15px;
    color: var(--main-color);
    text-shadow: 0 0 5px var(--main-color);
}


.loading-indicator {
    width: 25px;
    height: 25px;
    margin: 10px;
    border: solid;
    border-width: 2px 2px 0 0;
    border-radius: 50%;
    animation: indicator-animate 2s linear forwards infinite;
}

@keyframes indicator-animate {
    0% {
        transform: rotateZ(0);
        border-width: 2px 0 0 0;
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.form-error {
    max-width: 100%;
}


.error.message,
.info.message {
    border-radius: 12px;
    margin: 15px;
    padding: 15px;
    font-family: catamaran;
}

.error.message {
    border: 1px solid var(--maroon-light);
}

.info.message {
    border: 1px solid var(--light-blue);
}

.error .icon,
.info .icon {
    width: 20px;
    margin: 0 10px 0 5px;
}

.error .error-info {
    fill: var(--maroon-light);
}

.info .error-info {
    fill: var(--light-blue);
}

.dummy {
    background-size: 400%, 400%;
    animation: dummy-loading 3s ease forwards infinite;
}

@keyframes dummy-loading {

    0%,
    100% {
        background-position: 0 0;
    }


    50% {
        background-position: 100% 100%;
    }
}

.data-table {
    width: 100%;
    padding: 15px;
}

.table-data {
    display: grid;
    row-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 240px));
    justify-content: center;
}

.profile-card {
    height: 300px;
    width: 200px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 8px var(--secondary-color);
    color: var(--white)
}

.profile-card:hover {
    transform: scale(1.05);
}

.profile-card svg {
    fill: var(--white);
}

.profile-card.dummy {
    background: linear-gradient(to bottom right, var(--silver-grey), var(--silver), var(--silver-grey));
    background-size: 300% 300%;
}

.profile-card .profile-logo {
    width: 100%;
}


.profile-card .user-detail {
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-family: roboto;
}

.page-section {
    margin: 25px 50px;
}

.section-title {
    margin-left: 50px;
    font-size: 1.2rem;
    font-family: source-sans;
}

.pag-btn {
    background-color: var(--main-color);
    border-radius: 5px;
    margin: 5px;
    font-family: catamaran;
}

.pag-btn.dummy {
    background-color: var(--hide);
}

.pag-btn:hover {
    transform: scale(1.1);
}

.profile-view {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}

.profile-view .profile {
    border-radius: 8px;
    background-color: var(--disabled-black);
    padding: 15px;
}


.close {
    width: 50px;
    align-self: flex-end;
    cursor: pointer;
    margin: 15px 0;
}

.close .cross {
    border-radius: 3px;
    width: 30px;
    height: 6px;
    background-color: var(--white);
    position: absolute;
    margin: 15px;
}

.close:hover .cross {
    background-color: var(--main-color);
}

.cross:first-child {
    transform: rotateZ(45deg);
}

.cross:last-child {
    transform: rotateZ(-45deg);
}

.profile-view .user {
    font-size: 1.2rem;
    font-family: rubik;
    padding: 15px;
}

.profile-view svg {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
    filter: drop-shadow(0 0 5px var(--main-color));
}

.profile-view div {
    word-wrap: break-word;
}

.data-show-field {
    font-family: barlow;
    width: 100%;
    margin: 5px 0;
}

.data-show-field .role {
    align-self: flex-end;
}

.data-show-field.status {
    align-self: center !important;
    width: fit-content !important;
    background-color: var(--greeny);
    color: var(--white);
    border-radius: 20px;
    padding: 10px 15px;
    margin: 15px 15px 25px 15px;
}

.data-show-field.status.inactive {
    background-color: var(--main-color);
    color: var(--white);
}